<!DOCTYPE html>
<html>

<head>
    <style>
    body {
        font-family: helvetica, arial, sans-serif;
        width: 800px;
        margin: auto;
    }

    h1 {
        background-color: black;
        color: white;
        padding: 20px;
    }

    footer, footer a {
        color: #ccc;
    }

    footer {
        padding-top: 20px;
        float: right;
    }

    #gimme, #hitme, #eatme, #shareme {
        font-size: 30px;
        width: 800px;
        padding: 20px;
    }

    #selections {
        list-style-type: none;
        width: 600px;
        margin: auto;
    }

    #selections li.selection {
        float: left;
        margin: 8px;
    }

    .spinner {
        display: none;
    }

    </style>

    <link rel="stylesheet" type="text/css" href="/styles/spinner.css">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
        var uuid;

        // Create the XHR object.
        function createCORSRequest(method, url) {
          var xhr = new XMLHttpRequest();
          if ("withCredentials" in xhr) {
            // XHR for Chrome/Firefox/Opera/Safari.
            xhr.open(method, url, true);
          } else if (typeof XDomainRequest != "undefined") {
            // XDomainRequest for IE.
            xhr = new XDomainRequest();
            xhr.open(method, url);
          } else {
            // CORS not supported.
            xhr = null;
          }
          return xhr;
        }

        // Make the actual CORS request.
        function makeCorsRequest(opts) {
          var url = 'https://slickshot.herokuapp.com/';
          if (opts.path) {
            url += opts.path;
          }

          var xhr = createCORSRequest(opts.method || 'GET', url);
          if (!xhr) {
            alert('CORS not supported');
            return;
          }

          if (opts.success) {
              xhr.onload = function() {
                opts.success(xhr);
              };
          }

          if (opts.error) {
              xhr.onerror = function() {
                opts.error(xhr);
              };
          } else {
              xhr.onerror = function() {
                alert('Woops, there was an error making the request.');
              };
          }

          var body = opts.body || undefined;
          xhr.send(body);
        }

        // Get a UUID from the server
        $(document).ready(function() {
            makeCorsRequest({
                path: "uuid",
                success: function(xhr) {
                    // Save the UUID globally
                    window.uuid = xhr.responseText;

                    // Enable #gimme
                    $("#gimme").attr("disabled", false);
                }
            });
        });

        function shoot(job, selections, callback) {
            makeCorsRequest({
                method: "POST",
                path: "shoot",
                body: JSON.stringify({job: job, selections: selections}),
                success: callback
            });
        }

        function status(job, callback) {
            makeCorsRequest({
                path: "status?job=" + job,
                success: callback
            })
        }

        function share(job, callback) {
            makeCorsRequest({
                method: "POST",
                path: "share",
                body: JSON.stringify({job: job}),
                success: callback
            });
        }

        function poll(job, callback) {
            status(
                job,
                function(xhr) {
                    if (xhr.status === 200) {
                        callback(xhr);
                    } else {
                        console.warn("Booo!!!", xhr.responseText);
                        setTimeout(function() {
                            poll(job, callback);
                        }, 10000);
                    }
                }
            );
        }
    </script>
</head>

<body>
    <h1>Slickshot<sup>TM</sup></h1>

    <button id="gimme" disabled>Feed me</button>

    <ul id="selections">
    </ul>

    <button id="hitme" disabled>Hit me with your best slickshot!</button>

    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <button id="eatme" disabled>Eat me</button>

    <button id="shareme" disabled>Share me</button>

    <footer>
        A <a href="http://fivestonestudios.com/">Fivestone</a> production
    </footer>

    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>
    <script type="text/javascript" src="/scripts/underscore-min.js"></script>

    <script>
    filepicker.setKey("AeU67aFwnTISMZ2yudrzgz");
    var selections = [],
        selectionTemplate = _.template("<li class='selection'><img src='<%= src %>/convert?w=80&h=80'/></li>"),
        shareTemplate = _.template("https://www.facebook.com/sharer/sharer.php?u=<%= escape(url) %>");

    $("#gimme").click(function() {
        filepicker.pickAndStore(
            {
                mimetype: "image/*",
                multiple: true
            }, {
                location: "dropbox",
                path: uuid + "/"
            }, function(InkBlobs) {
                // Save selections
                selections = selections.concat(InkBlobs);

                // Enable #hitme when there are enough selections
                if (selections.length >= 6) {
                    $("#hitme").attr("disabled", false);
                }

                // Render selections on the page
                _(InkBlobs).each(function(blob) {
                    var element = selectionTemplate({src: blob["url"]})
                    $("#selections").append(element);
                });
            }
        );
    });

    $("#hitme").click(function() {
        $("#hitme").attr("disabled", true);
        $(".spinner").show();
        shoot(uuid, _(selections).pluck("key"), function(xhr) {
            console.log(xhr.responseText);
            // Start trying to share the job
            // Keep trying until it's ready
            poll(uuid, function(xhr) {
                share(uuid, function(xhr) {
                    var data = JSON.parse(xhr.response);
                    $(".spinner").hide();
                    $("#eatme")
                        .attr("disabled", false)
                        .css("background-color", "rgb(126,191,43)")
                        .click(function() {
                            // document.location = data["url"];
                            window.open(data["url"]);
                        });
                    $("#shareme")
                        .attr("disabled", false)
                        .css("background-color", "rgb(43,123,191)")
                        .click(function() {
                            window.open(shareTemplate({url: data["url"]}));
                        });
                });
            });
        });
    });
    </script>

</body>

</html>
